  <div class="links">
    <ul>
      <li><button><%= link_to "apts / housing", listings_apartments_housing_path %></button></li>
      <li><button><%= link_to "rooms / shared", listings_rooms_shared_path %></button></li>
      <li><button><%= link_to "sublets / temporary", listings_sublets_temp_path %></button></li>
      <li><button><%= link_to "housing wanted", listings_housing_wanted_path %></button></li>
      <li><button><%= link_to "housing swap", listings_housing_swap_path %></button></li>
      <li><button><%= link_to "vacation rentals", listings_vacation_rentals_path%></button></li>
      <li><button><%= link_to "parking / storage", listings_parking_storage_path %></button></li>
      <li><button><%= link_to "office / commercial", listings_office_commercial_path %></button></li>
      <li><button><%= link_to "real esate for sale", listings_real_estate_path %></button></li>
    </ul>
  </div>